

.input--container {
  padding:1.3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 30vw;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 8px 14px -12px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: 0px 8px 14px -12px rgba(0, 0, 0, 0.62);
}

.single-input-container{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  min-height:4em;
  width:100%
}


.standard--input{
-webkit-box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.22); 
box-shadow: 3px 3px 5px -3px rgba(0,0,0,0.12),
  inset 2px 2px 2px -1px rgba(0,0,0,0.1);
  border:none;
  height:2.5em;
  outline:none;
  padding-left:5px;
  font-size:1.1em;
  background-color: #fafafa;
}
.standard--label{
  color:#454545;
}

.form{
  display: grid; 
  gap: 1.3em 1em; 
  grid-template-areas: 
    ". ."
    ". ."
    ". .";
}

.input--container__title{
    color:#313131;
    margin-bottom:10px;
  }

.input--container__btns{
    margin-top:1em;
    width:100%;
    display: flex;
    align-items: center;
    gap: 1em;
    height: 6em;
}  

.newC{
  position: relative;
  transform: none;
  width: 80%;
  box-shadow: 10px 15px 25px -24px rgba(0,0,0,0.35);
  -webkit-box-shadow: 10px 15px 25px -24px rgba(0,0,0,0.35);
  -moz-box-shadow: 10px 15px 25px -24px rgba(0,0,0,0.35);
  border-radius: 15px;
  padding: 1em;

}


.newF{

    display: grid; 
    gap: 1.3em 2em; 
    grid-template-columns: repeat(auto-fit, minmax(30%, 40%));
    width: 100%;

}