.new{
    color:white;
    background-color: #0079c0;
    height: 2em;
    width: 5em;
    border:none;
    border-radius: 7px;
    font-size:1.1em;
    font-family: Roboto;
    cursor: pointer;
    transition: .2s ease;
}

.new:hover{
    background-color: #035a8b;
}


.mainEditContainer{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50% -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}


#kontejner{
    margin: 0 auto;
    position:relative;
    width:50%;
    height:50px;
  }
  
  #labela{
    position:absolute;
    bottom:0;
    left:0px;
    height:100%;
    bottom: 0px;
    width:100%;
    pointer-events: none;
      background: blue;
  }
  .sp{
    bottom:5px;
    position:absolute;
    transition:all 0.3s ease;
  }
  
  #inp{
    width:100%;
    height:100%;
    border:none;
    border-bottom: 1px solid black;
    padding-top: 30px;
    outline:none;
  }
  
  #labela::after{
   content:'';
    width:100%;
    height: 100%;
    border-bottom: 3px solid blue;
    left:0;
    bottom:0;
    transform:scaleX(0);
    position: absolute;
    transition: 0.5s ease-in;
    
  }
  
  #inp:focus + #labela::after{
    transform:scaleX(1)
  }
 #inp:focus + #labela #sp,
 #inp:valid + #labela #sp{
    transform:translateY(-150%);
    font-size:14px;
    color: blue;
  }
  
