.profilPage{
    width: 65vw;
    margin: 0 auto;
    margin-top:2em;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.profilMain{
    display: flex;
    height:60vh;
    width: 80vw;
    justify-content: space-between;

}

.profilMain img{
    height: 100%;
    width: 50%;
    object-fit: cover;
    border-radius: 15px;
}

.profilDetails{
    width: 45%;
}

.profilInfo{
    height: 50%;
    border: 1px solid rgb(184, 182, 182);
    border-radius: 10px;
    overflow-x: hidden;
    
}

.profilInfo table{
    width: 100%;
    height: 80%;
}


.profilInfo h3{
    min-width: 100%;
    text-align: center;
    background-color:#5562d6;;
    padding: 5px;
    color:white;
}

.profilImages{
    margin-top:1em;
    height: 50%;
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(184, 182, 182);
    border-radius: 10px;
    overflow: hidden;

}

.profilImages h3{
    background-color:#5562d6;;
    min-width: 100%;
    text-align: center;
    color:white;

}

.photoContainer{
    height: 70%;
    background-color: rgb(247, 247, 247);
    display: flex;
    align-items: center;
}

.photoContainer img{
    height: 100px;
    width:100px !important;
    margin-left: 1em;
    margin-right: 1em;
}

.profilImages p{
    width: 100%;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

.profilTable{
    margin-top:2em;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
}

.profilTable ul{
    display: flex;
    list-style:none;
    width: 95%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.docum{
    height: 10em;
}

.profilTable ul li{
    background-color: #5562d6 !important;
    color:white;
    font-size: 1.2em;
    padding:10px;
    text-align: center;    
}

.profilTable ul li:hover{
    background-color: #0079c0 !important; 
    color:white;
    cursor: pointer;
}



.profilTableTr{
    background-color: rgb(108, 180, 184) !important;
    color:white !important;
    font-size: 1.2em !important;
    cursor: pointer;
}

.btn{
    height: 2em;
}

.slikeModal{
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: auto;
    background-color: rgb(226, 226, 226);
    z-index: 6;
}

.slikeModal img{
    width: 230px;
}

.slikeModal h1{
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 5px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    color:white;
    background-color: rgb(194, 23, 23);
    border-radius: 50px;
}

.allImgContainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px 5px;
}
.newp{

    color: #0079c0;
    background-color:white;
    height:1.8em;
    
}

.newp:hover{
    
    background-color: #bbbbbb;}